@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "./colors/color-style";

// CUSTOM DROPDOWN FOR FILTER
$dropdown-min-width: 25rem;

// CUSTOM TABLE PADDING 
$table-cell-padding-y:        .2rem;
$table-cell-padding-x:        .5rem;
$table-cell-padding-y-sm:     .10rem;
$table-cell-padding-x-sm:     .25rem;

$custom-theme-colors:map-merge($theme-colors, (
  "primary": $primary-50,
  "info": $info-50,
  "warning": $warning-50,
  "success": $success-70,
  "danger": $danger-50,
  // TINT 10 => Background Body
  "primary10": $primary-10,
  "info10": $info-10,
  "neutral10": $neutral-10,
  "success10": $success-10,
  "warning10": $warning-10,
  "danger10": $danger-10,
  // TINT 30
  "primary30": $primary-30,
  "info30": $info-30,
  "success30": $success-30,
  "warning30": $warning-30,
  "danger30": $danger-30,
  // TINT 70
  "primary70": $primary-70,
  "info70": $info-70,
  "warning70": $warning-70,
  "danger70": $danger-70,
  // TINT 90 => Paragraph Text 
  "primary90": $primary-90,
  "info90": $info-90,
  "success90": $success-90,
  "warning90": $warning-90,
  "danger90": $danger-90
));

$theme-colors: map-merge($theme-colors, $custom-theme-colors);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text");
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");

// IMPORT BOOTSTRAP
@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";
// Import google fonts, & icomoon
@import "../../../asset/icon/icomoon_font_icon/style.css";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
/*
@mixin button-variant(
  $background,
  $border, 
  $color: color-contrast($background),
  
  $hover-background: if($color == $color-contrast-light, shade-color($background, $btn-hover-bg-shade-amount), tint-color($background, $btn-hover-bg-tint-amount)),
  
  $hover-border: if($color == $color-contrast-light, shade-color($border, $btn-hover-border-shade-amount), tint-color($border, $btn-hover-border-tint-amount)),
  
  $hover-color: color-contrast($hover-background),
  $active-background: if($color == $color-contrast-light, shade-color($background, $btn-active-bg-shade-amount), tint-color($background, $btn-active-bg-tint-amount)),
  
  $active-border: if($color == $color-contrast-light, shade-color($border, $btn-active-border-shade-amount), tint-color($border, $btn-active-border-tint-amount)),
  
  $active-color: color-contrast($active-background),
  
  $disabled-background: $background,
  
  $disabled-border: $border,
  
  $disabled-color: color-contrast($disabled-background)
)
*/