<!--- index.hbs --->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jakarta Duty Free</title>
    <link rel="icon" href="asset/img/favicon.ico" type="image/x-icon">
    <!--- IMPORT CSS --->
    <link rel="stylesheet" href="asset/styles/css/style.css">
    <!--- IMPORT BOOTSTRAP --->
    <script src="asset/js/bootstrap_v5.0.2/bootstrap.bundle.min.js"></script>
    <script src="asset/js/jquery/jquery.min.js"></script>
    <script src="asset/js/index.js"></script>
</head>
<body>
    {{> header}}
    {{> sidebar}}
    {{{body}}}
    {{> footer}}
</body>
</html>
