@import "../colors/color-style";

$gray: #727171;

.img-preview{
    width: 250px;
    height: 250px;
    background-color: $neutral-90;
    margin-bottom: 15px;
    overflow: hidden;

    /* Default Text */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;

    .image-wrapper{
        display: flex;
        flex-direction: column;
        color: $gray;
        align-items: center;
        margin-top: 50px;

        .icon-font-lg{
            font-size: 80px;
        }

        .text-default-image{
            text-align: center;
        }
    }

    /*
    #image-upload{
        display: none;
        width: 100%;
    }

    .text-default-image{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        text-align: center;
        color: $gray;
    }
    */

}

#image-uploaded{
    display: none;
    width: 250px;
    max-height: 350px;
}


