#filter-check{
    display: block;
    padding: 10px;
    background-color: #b8b8b8;
    margin-left: 10px;
    margin-right: 10px;
}

#keranjang-check{
    display: block;
    padding: 10px;
    background-color: #b8b8b8;
    margin-left: 10px;
    margin-right: 10px;
}