/* ======= TABLE PEMASUKAN ========== */
.table-container-height-pmk{
    height: 500px;
};

.table-custom-pmk{
    max-width: 120%;
};

.table-color{
    background-color: whitesmoke !important;
}

/* ========= TABLE PENGELUARAN ========== */
.table-container-size-pgl{
    height: 300px;
};
.table-custom-pgl{
    width: 1200px;

    .th-deskripsi-brg{
        width: 300px;
    }
};

/* ======== SELECTED ROWS = HIGHLIGHT ======== */
.selected {
    background-color: #d86901;
    color: white;
}