//* PRIMARY COLOR = International Orange Aerospace
$primary-10: #FAB497;
$primary-30: #F78351;
$primary-50: #F2510C;
$primary-70: #BF4009;
$primary-90: #8B2E07;

//* INFO COLOR = BLUE
$info-10: #B9BFFC;
$info-30: #515FF7;
$info-50: #0C1FF2;
$info-70: #0816AE;
$info-90: #040B57;

//* NEUTRAL COLOR = CULTURED WHITE
$neutral-10: #FAFAFA;
$neutral-30: #F7F7F7;
$neutral-50: #F4F4F4;
$neutral-70: #F2F2F2;
$neutral-90: #EFEFEF;

//* SUCCESS COLOR = LIME GREEN
$success-10: #99EA9C;
$success-30: #4DDA52;
$success-50: #00CA08;
$success-70: #008D06;
$success-90: #005103;

//* WARNING COLOR = HONEY YELLOW
$warning-10: #FADC97;
$warning-30: #F7C551;
$warning-50: #F2AD0C;
$warning-70: #BF8909;
$warning-90: #684B05;

//* DANGER COLOR = RED
$danger-10: #FA9797;
$danger-30: #F64040;
$danger-50: #F30B0B;
$danger-70: #B62C25;
$danger-90: #9D0707;
