<!--- ADD ITEM MODAL --->
<!-- Modal -->
<div class="modal fade" id="add-item-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="add-item-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <!--- MODAL CONTENT --->  
      <div class="modal-content">
        <!--- MODAL HEADER --->
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Tambah Barang</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!--- FORM ADD ITEM --->
        <form class="add-item" action="/create" method="post" enctype="multipart/form-data">
            <!--- MODAL BODY --->
            <div class="modal-body">
                <div class="d-flex">
                    <div class="mx-2">
                        <!--- DESKRIPSI BARANG --->
                        <label for="input-deskripsi-barang" class="mt-2">
                            Deskripsi Barang 
                            <span class="text-primary">&#65342;</span>
                        </label>
                        <input type="text" id="input-deskripsi-barang" name="deskripsi_brg" class="form-control" required placeholder="min. 11 Karakter">
                        <!--- JENIS BARANG --->
                        <label for="jenis-barang-option" class="mt-2">
                            Jenis Barang
                            <span class="text-primary">&#65342;</span>
                        </label>
                        <select class="form-select" name="jenis_barang" id="jenis-barang-option" required>
                            <option selected> -- PILIH -- </option>
                            <option value="1">Kosmetik</option>
                            <option value="2">Perhiasan</option>
                            <option value="3">Jam Tangan</option>
                            <option value="4">Fashion</option>
                        </select>
                        <!--- MEREK BARANG --->
                        <label for="input-merek-barang" class="mt-2">
                            Merek Barang
                            <span class="text-primary">&#65342;</span>
                        </label>
                        <input type="text" id="input-merek-barang" name="merek_brg" class="form-control" required>
                        <!--- NO. DOKUMEN BC --->
                        <label for="input-no-dokumen-bc" class="mt-2">
                            No. Dokumen BC
                            <span class="text-primary">&#65342;</span>
                        </label>
                        <input type="text" id="input-no-dokumen-bc" name="no_dokumen_bc" class="form-control" placeholder="cth: 000001" required>
                        <!--- PENANDA --->
                        <label class="mt-1"><span class="text-primary">&#65342;</span> = Wajib Diisi</label>
                    </div>
                    <div class="mx-2">
                        <!--- HARGA PER UNIT --->
                        <label for="input-harga-per-unit" class="mt-2">
                            Harga per Unit
                            <span class="text-primary">&#65342;</span>
                        </label>
                        <input type="number" id="input-harga-per-unit" name="harga_per_unit" class="form-control" step="0.01" placeholder="cth: 23.50 / 50" required>
                        <!--- VENDOR ITEM --->
                        <label for="input-vendor-item" class="mt-2">
                            Vendor Item
                            <span class="text-primary">&#65342;</span>
                        </label>
                        <input type="text" id="input-vendor-item" name="vendor_item" class="form-control" placeholder="cth: VENDOR1234" required>
                        <label for="input-hs-code" class="mt-2">
                            HS Code
                            <span class="text-primary">&#65342;</span>
                        </label>
                        <input type="text" id="input-hs-code" name="hs_code" class="form-control" placeholder="cth: 71189000" required>
                        <label for="input-barcode-barang" class="mt-2">
                            Barcode Barang
                            <span class="text-primary">&#65342;</span>
                        </label>
                        <input type="text" id="input-barcode-barang" name="barcode_brg" class="form-control" placeholder="cth: 232832232249" required>
                    </div>
                    <div class="mx-2">
                        <div style="margin-left: 30px;">
                            <div class="img-preview">
                                <img id="image-uploaded" src="" alt="preview_image">
                                <div class="image-wrapper">
                                    <span class="icon-picture-svgrepo-com icon-font-lg"></span>
                                    <span class="text-default-image">Upload Gambar dengan klik "browse"</span>    
                                </div>
                            </div>
                            <input type="file" accept="image/*" id="input_imgfile" name="img_barang">
                        </div>
                    </div>
                </div>
            </div>
            <!-- MODAL FOOTER -->
            <div class="modal-footer justify-content-center">
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" href="#">
                    <strong>Tambah Data</strong>
                </a>
                <button type="reset" class="btn btn-danger" id="pemasukan_reset">
                    <strong>Reset Input</strong>
                </button>
            </div>
        </form>
      </div>
    </div>
  </div>