<!--- Account Header --->
<header>
    <div class="logo-picture">
        <img src="assets/img/logo_duty_free_2.png" alt="Logo Jakarta Duty Free berlambang Lapisan Bawang Warna-warni termasuk Merah, Orange, Kuning, Hijau, dan Biru dan juga disamping ada tulisan Jakarta Duty Free">
    </div>
    <div class="account-wrapper">
        <!-- NOTIFICATION BUTTON -->
        <a href="#" class="notification">
            <span class="icon-bell-alarm-notification-notify-svgrepo-com"></span>
        </a>
        <!--- PHOTO PROFILE -->
        <div class="photo-profile">
            <img src="assets/img/profile.jpg" alt="Foto Profil Manager" class="photo-circle">
        </div>

        <!--- DROPDOWN MENU --->
        <div class="account-menu-dropdown">
            <div class="account-menu-wrapper">
                <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" aria-expanded="false" data-bs-toggle="dropdown">
                    <span>Test Name</span>
                <!--- <span class="icon-caret-down-outline-svgrepo-com"></span> --->
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Account Setting</a></li>     
                    <li>
                        <form action="/logout" method="post" class="dropdown-item">
                            <button type="submit" class="text-btn">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</header>