<!--- Sidebar --->
<section class="sidebar">
    <ul class="menus-wrapper">
        <li>
            <a href="#" id="warehouse-menu" class="flex-link-item">
                <div class="icon-block">
                    <span class="icon-house-svgrepo-com"></span>
                </div>
            </a>
        </li>
        <li>
            <a href="#" id="settings-menu" class="flex-link-item">
                <div class="icon-block">
                    <span class="icon-settings-gear-setting-svgrepo-com"></span>
                </div>
            </a>
        </li>
    </ul>
</section>